@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myTvTestPatterns.com - TV test pattern downloads</title>
    <meta charset="utf-8" />
    <link href="../CSS/Site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="../../Images/icons/favicon.ico" />
    <meta name="description" content="Download video test signals to your smartphone, tablet, laptop or flash drive" />
    <meta name="keywords" content="TV test patterns using screen mirroring,test pattern download,color bar test pattern,color bars and tone,indian head test pattern,Dutch circle test pattern,Dutch circle,Philips circle test pattern,Philips circle,video test pattern,test pattern DVD download,audio sweep,Subwoofer Audio Sweep,speaker test,speaker rattle test,low frequency sweep,one second tick track,grayscale test pattern,dancing white window test pattern,dancing window test pattern,grayscale test pattern,colorized grayscale test pattern,flat field color test pattern" />
    <meta name="yandex-verification" content="a020519f796ad2e0" />
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56979791-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56979791-7');
    </script>
    <style type="text/css">
        #DavesLink {
            margin-top: auto !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: auto !important;
            border: 1px solid black;
            font-size: 0.7em;
            text-align: center;
            background-color: white;
        }

            #DavesLink:hover, #DennisAd:hover {
                border: 3px solid blue;
            }

            #DavesLink:active, #DennisAd:active {
                border: 5px solid blue;
            }

        #DennisAd {
            margin-top: auto !important;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-bottom: auto !important;
            height: 58px;
        }

    </style>

    <script async src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>

</head>
<body>
    <div>
        <span id="imgWait" class="Wait"><img style="display:inline;" src="~/Images/Graphics/spinner_3e0480b9dc43dca498e7a9cbab639bf3.gif"><span style="position:relative; bottom:25px; left:10px; font-weight:bold;">Loading, please wait...</span> </span>
        <div class="productCollection">
            <div class="productContainer welcome">
                <div class="headerArea">
                    <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                    <img alt="myTvTestPatterns logo" class="logoSmall" src="../../Images/Graphics/myTvTestPatternsLogo2.png" />
                    <h1>Download Free TV Test Patterns!</h1>
                    <p>Welcome to myTvTestPatterns.com. This web site provides free video test patterns for TV service technicians and engineers around the world. The downloadable TV test pattern files will turn your smartphone, tablet, laptop or flash drive into a video test signal generator!</p>
                    <h4>9 video patterns downloadable on a wide variety of devices.</h4>
                    <ul style="font-size:small">
                        <li>Download your choice of .wmv, .mov or .mp4 files.</li>
                        <li>Save them on your smartphone, tablet, laptop, or flash drive</li>
                        <li>Play them wirelessly on your Smart TV using screen mirroring (Miracast)</li>
                        <li>Play them on your TV via the USB port or HDMI cable connection</li>
                    </ul>
                    <br />
                </div>
            </div>
            <div class="productContainer">
                <br />
                <br />
                <div style="margin-left:auto !important; margin-right:auto !important; border:1px solid black; width:320px;">
                    <span style="margin-left:30px; font-size:small; color:#808080;">Ad scrolls when hovered</span>
                    <br />
                    <ins class="epn-placement" data-config-id="5b5fb677e833d572c14512ec" style="display:inline !important;"></ins>
                    <br />
                <br />
                </div>
                <a href="http://www.FixMyOwnTv.com" target="_blank" style="text-align:center; display:block; margin-left:auto; margin-right:auto; padding-top: 20px;"><img alt="Link to www.fixmyowntv.com" src="~/Images/Buttons/Ad_306_v2.gif"></a>
            </div>
            <div itemprop="video" itemscope itemtype="http://schema.org/MediaObject" class="productContainer DVD">
                <meta itemprop="uploadDate" content="2015-01-05" />
                <div class="headerArea">
                    <img itemprop="thumbnailUrl" alt="Menu of myTvTestPatterns" class="titlePicture" src="~/Images/Graphics/screenshot_small.jpg" />
                    <div class="titleText">
                        <h2 itemprop="name" class="prodTitle" style="font-size: 24px;">myTvTestDisc DVD</h2>
                        <div class="prodDescr" itemprop="description">
                            Contains 9 test patterns for <br />modern television troubleshooting<br /><br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li itemprop="about">This download self-extracts to an .iso file that burns onto a DVD providing a variety of 9 TV test signals.</li>
                        <li>7 video test patterns</li>
                        <li>2 low-frequency audio sweeps</li>
                        <li>Recorded in XP mode (high-quality)</li>
                        <li>Burn unlimited copies</li>
                        <li>@ViewBag.testdisc downloads so far</li>
                        <li>Download size: 177.7MB</li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <meta itemprop="genre" content="Science & Technology" />
                            <meta itemprop="duration" content="PT45M0S" />
                            <meta itemprop="contentSize" content="177.7" />
                            <a itemprop="contentUrl" itemprop="contentUrl" href="@Url.Action("Download", null, new { @p = "12TD5" } )"><div class="prodButton WmvButton">Download<br />DVD</div></a>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div itemprop="video" itemscope itemtype="http://schema.org/MediaObject" class="productContainer DVD">
                <meta itemprop="uploadDate" content="2015-01-05" />
                <div class="headerArea">
                    <img itemprop="thumbnailUrl" alt="Color bar thumbnail" class="titlePicture" src="~/Images/Icons/SMPTE_Bars_icon.jpg" />
                    <div class="titleText">
                        <h2 itemprop="name" class="prodTitle" style="font-size: 24px;">Color Bars &amp; Tone DVD</h2>
                        <div class="prodDescr" itemprop="description">
                            Convert your DVD player into a <br />color bar test signal generator!<br /><br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li itemprop="about">This download self-extracts to an .iso file that burns onto a DVD providing 50 minutes of a continuous color bar test pattern with 1kHz tone.</li>
                        <li>Windows Media Video 768X432 30fps</li>
                        <li>Recorded in XP mode (high-quality)</li>
                        <li>@ViewBag.color_bar_DVD downloads so far</li>
                        <li>Download size: 120.6MB</li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <meta itemprop="genre" content="Science & Technology" />
                            <meta itemprop="duration" content="PT50M0S" />
                            <meta itemprop="contentSize" content="120.6" />
                            <a itemprop="contentUrl" href="@Url.Action("Download", null, new { @p = "12CB50V2" } )"><div class="prodButton WmvButton">Download<br />DVD</div></a>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Color bars thumbnail" class="titlePicture" src="~/Images/Icons/SMPTE_Bars_icon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Color Bars &amp; Tone</h2>
                        <div class="prodDescr">
                            Resolution: 1920 x 1080 &#64; 30 fps<br />
                            SMPTE 75% color bars (no I &amp; Q)<br />
                            1000Hz tone / Runs 5 minutes
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>This time-tested pattern continues to serve as a baseline reference for testing basic video quality</li>
                        <li>Originally used for aligning chrominance demodulators in the first color TVs of the 1950's and 60's</li>
                        <li>Still used today for testing industrial, commercial and broadcast equipment.</li>
                        <li>Incl. PLUGE bars for setting picture black</li>
                        <li>@ViewBag.Bars downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>8.3MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>8.2MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>8.4MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Color bar test pattern, SMPTE 75% color bars (no I &amp; Q), 1kHz tone, 5 minute duration" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SMPTE_Bars_icon.jpg" />
                                <meta itemprop="name" content="Color Bars and Tone" />
                                <meta itemprop="about" content="This time-tested pattern continues to serve as a baseline reference for testing basic video quality">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="6.7" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "BarsAndToneMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4">
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Color bar test pattern, SMPTE 75% color bars (no I &amp; Q), 1kHz tone, 5 minute duration" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SMPTE_Bars_icon.jpg" />
                                <meta itemprop="name" content="Color Bars and Tone" />
                                <meta itemprop="about" content="This time-tested pattern continues to serve as a baseline reference for testing basic video quality">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="13.2" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "BarsAndToneMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv">
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Color bar test pattern, SMPTE 75% color bars (no I &amp; Q), 1kHz tone, 5 minute duration" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SMPTE_Bars_icon.jpg" />
                                <meta itemprop="name" content="Color Bars and Tone" />
                                <meta itemprop="about" content="This time-tested pattern continues to serve as a baseline reference for testing basic video quality">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="8.6" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "BarsAndToneWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Gray field thumbnail" class="titlePicture" src="~/Images/Icons/gray_field_icon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Vibration Audio Test</h2>
                        <div class="prodDescr">
                            40Hz to 200 Hz @@ 20 sec. per sweep<br />
                            and 1 tick per second background <br />
                            Runs 5 minutes
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>This low-frequency sine-wave sweep reveals acoustic and mechanical resonances</li>
                        <li>Isolate frequencies that produce cabinet rattle or other mechanical vibrations</li>
                        <li>Reveals "blown" speakers (when "buzz" is heard across entire spectrum)</li>
                        <li>One-second ticks serve as a reference</li>
                        <li>(For best results, use low volume setting)</li>
                        <li>@ViewBag.Vibration downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>8.2MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>10.2MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>8.2MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="40Hz to 200 Hz at 20 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Vibration Audio Test" />
                                <meta itemprop="about" content="This low-frequency sine-wave sweep reveals acoustic and mechanical resonances">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="6.5" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "VibrationSweepMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="40Hz to 200 Hz at 20 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Vibration Audio Test" />
                                <meta itemprop="about" content="This low-frequency sine-wave sweep reveals acoustic and mechanical resonances">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="10.4" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "VibrationSweepMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="40Hz to 200 Hz at 20 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Vibration Audio Test" />
                                <meta itemprop="about" content="This low-frequency sine-wave sweep reveals acoustic and mechanical resonances">
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="contentSize" content="8.4" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "VibrationSweepWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img itemprop="thumbnailUrl" alt="Gray field thumbnail" class="titlePicture" src="~/Images/Icons/gray_field_icon.jpg" />
                    <div class="titleText">
                        <h2 itemprop="name" class="prodTitle" style="font-size: 24px;">Subwoofer Audio Sweep</h2>
                        <div class="prodDescr">
                            16Hz to 120Hz @@ 25 sec. per sweep<br />
                            and 1 tick per second background<br />
                            Runs 5 minutes
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>Use this low-frequency audio sweep for adjusting subwoofer level and crossover frequency</li>
                        <li>Reveals acoustic resonances and standing-wave cancellations in various parts of the room</li>
                        <li>This pure sine-wave sweep begins at 16Hz (the lowest musical tone)</li>
                        <li>Great for testing automotive subwoofers</li>
                        <li>(For best results, use low volume setting)</li>
                        <li>@ViewBag.Subwoofer downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>8.1MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>10.2MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>12.0MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="16Hz to 120Hz at 25 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Subwoofer Audio Sweep" />
                                <meta itemprop="about" content="Use this low-frequency audio sweep for adjusting subwoofer level and crossover frequency">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="6.6" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "SubwooferSweepMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="16Hz to 120Hz at 25 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Subwoofer Audio Sweep" />
                                <meta itemprop="about" content="Use this low-frequency audio sweep for adjusting subwoofer level and crossover frequency">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="10.4" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "SubwooferSweepMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="16Hz to 120Hz at 25 sec. per sweep and 1 tick per second background / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/gray_field_icon.jpg" />
                                <meta itemprop="name" content="Subwoofer Audio Sweep" />
                                <meta itemprop="about" content="Use this low-frequency audio sweep for adjusting subwoofer level and crossover frequency">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="12.3" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "SubwooferSweepWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
                <aside>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive myTvTestPatterns Ad -->
                    <ins class="adsbygoogle"
                         style="display:block; padding:10px 10px;"
                         data-ad-client="ca-pub-3867254156669214"
                         data-ad-slot="3650089062"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </aside>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Split Grayscale thumbnail" class="titlePicture" src="~/Images/Icons/SplitGrayscale28icon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Grayscale Test Pattern</h2>
                        <div class="prodDescr" itemprop="description">
                            Resolution: 1280 x 720<br />
                            Two opposing gradients of 28 shades<br />
                            Includes 1000Hz Tone / Runs 5 minutes<br /><br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>This grayscale video test pattern displays two rows of 28 shades of gray</li>
                        <li>Use for making primary color (RGB) adjustments such as drive, offset, gamma, and color temperature</li>
                        <li>Great for comparing and adjusting several displays at once to make them match</li>
                        <li>If the grayscale is not right (especially the mid-tones) , the colors will not be right!</li>
                        <li>@ViewBag.Gray downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>7.5MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>7.1MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>6.4MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / Includes 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SplitGrayscale28icon.jpg" />
                                <meta itemprop="name" content="Grayscale Test Pattern" />
                                <meta itemprop="about" content="Use for making primary color (RGB) adjustments such as drive, offset, gamma, and color temperature">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="7.6" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "GrayscaleMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / Includes 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SplitGrayscale28icon.jpg" />
                                <meta itemprop="name" content="Grayscale Test Pattern" />
                                <meta itemprop="about" content="Use for making primary color (RGB) adjustments such as drive, offset, gamma, and color temperature">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="7.3" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "GrayscaleMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / Includes 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/SplitGrayscale28icon.jpg" />
                                <meta itemprop="name" content="Grayscale Test Pattern" />
                                <meta itemprop="about" content="Use for making primary color (RGB) adjustments such as drive, offset, gamma, and color temperature">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="6.5" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "GrayscaleWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
                <aside>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive myTvTestPatterns Ad -->
                    <ins class="adsbygoogle"
                         style="display:block; padding:10px 10px;"
                         data-ad-client="ca-pub-3867254156669214"
                         data-ad-slot="3650089062"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </aside>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <video id="imgColorizedGrayscaleThumb" class="titlePicture" autoplay loop width="160" height="90" title="Colorized Grayscale thumbnail" muted poster="~/Images/Icons/Rotating_Colorscale_240_icon.jpg">
                        <source src="~/Downloads/Prod/ColorizedGrayscale.mp4" type="video/mp4">
                    </video>
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Colorized Grayscale</h2>
                        <div class="prodDescr">
                            Resolution: 1920 x 1080 &#64; 30 fps<br />
                            Two opposing gradients of 28 shades<br />
                            60 color angles @@ 4 seconds per color<br />
                            1 tick per second audio <br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>This colorized grayscale video test pattern displays two rows of 28 shades of one chrominance vector at a time</li>
                        <li>The color angle changes in 6-degree steps, encompassing 360 degrees</li>
                        <li>Great for pinpointing hard-to-find artifacts in particular shades of color</li>
                        <li>Adjust the TV&#039;s color and picture controls for the desired range of luminance and chrominance</li>
                        <li>@ViewBag.Colorized downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>8.4MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>8.2MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>7.8MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / 60 color angles at 4 seconds per color / chrominance vector encompasses 360 degrees / 1 tick per second audio" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Rotating_Colorscale_240_icon.jpg" />
                                <meta itemprop="name" content="Colorized Grayscale" />
                                <meta itemprop="about" content="A unique video test pattern for pinpointing hard-to-find artifacts in particular shades of color">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT4M0S" />
                                <meta itemprop="contentSize" content="5.7" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "ColorizedGrayScaleMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / 60 color angles at 4 seconds per color / chrominance vector encompasses 360 degrees / 1 tick per second audio" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Rotating_Colorscale_240_icon.jpg" />
                                <meta itemprop="name" content="Colorized Grayscale" />
                                <meta itemprop="about" content="A unique video test pattern for pinpointing hard-to-find artifacts in particular shades of color">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT4M0S" />
                                <meta itemprop="contentSize" content="12.0" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "ColorizedGrayScaleMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Two opposing gradients of 28 shades / 60 color angles at 4 seconds per color / chrominance vector encompasses 360 degrees / 1 tick per second audio" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Rotating_Colorscale_240_icon.jpg" />
                                <meta itemprop="name" content="Colorized Grayscale" />
                                <meta itemprop="about" content="A unique video test pattern for pinpointing hard-to-find artifacts in particular shades of color">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT4M0S" />
                                <meta itemprop="contentSize" content="7.9" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "ColorizedGrayScaleWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Indian Head thumbnail" class="titlePicture" src="~/Images/Icons/testpattern-hd-1080_icon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Indian Head Test Pattern</h2>
                        <div class="prodDescr">
                            Resolution: 1920 x 1080 &#64; 30 fps<br />
                            Wide-screen indian head test pattern<br />
                            With 1000Hz Tone / Runs 2 minutes<br /><br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li itemprop="about">This wide-screen indian head test pattern is based on the earliest and most popular test pattern used in the United States</li>
                        <li>Great for making horizontal and vertical size and centering adjustments</li>
                        <li>Demonstrates the amount of &quot;overscan&quot; exhibited by a display device</li>
                        <li>See <a href="https://en.wikipedia.org/wiki/Indian-head_test_pattern" target="_blank">www.wikipedia.org</a></li>
                        <li>@ViewBag.Indian downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>26.2MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>24.5MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>8.1MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Wide-screen indian head test pattern With 1000Hz Tone / Runs 2 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/testpattern-hd-1080_icon.jpg" />
                                <meta itemprop="name" content="Indian Head Test Pattern" />
                                <meta itemprop="about" content="This wide-screen indian head test pattern is based on the earliest and most popular test pattern used in the United States">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT2M0S" />
                                <meta itemprop="contentSize" content="13.2" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "IndianHeadMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Wide-screen indian head test pattern With 1000Hz Tone / Runs 2 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/testpattern-hd-1080_icon.jpg" />
                                <meta itemprop="name" content="Indian Head Test Pattern" />
                                <meta itemprop="about" content="This wide-screen indian head test pattern is based on the earliest and most popular test pattern used in the United States">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT2M0S" />
                                <meta itemprop="contentSize" content="84.1" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "IndianHeadMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Wide-screen indian head test pattern With 1000Hz Tone / Runs 2 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/testpattern-hd-1080_icon.jpg" />
                                <meta itemprop="name" content="Indian Head Test Pattern" />
                                <meta itemprop="about" content="This wide-screen indian head test pattern is based on the earliest and most popular test pattern used in the United States">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT2M0S" />
                                <meta itemprop="contentSize" content="8.3" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "IndianHeadWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                            <a href="@Url.Action("GetFile", null, new { @p = "TestPattern" })" style="display:inline;"></a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <video id="imgDancingWindowThumb" class="titlePicture" autoplay loop width="160" height="90" title="Dancing Window thumbnail" muted poster="~/Images/Icons/Quad_White_Window_Icon.jpg">
                        <source src="~/Downloads/Prod/DancingWhiteWindow.mp4" type="video/mp4">
                    </video>
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Dancing White Window</h2>
                        <div class="prodDescr">
                            Resolution: 1920 x 1080 &#64; 30 fps<br />
                            Small 100% white windows alternately<br />toggle on and off at 4-second intervals<br />
                            1 tick per second audio  / Runs 5 minutes<br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>The dancing white window video test pattern is for troubleshooting plasma display panels</li>
                        <li>Exposes maldischarge or diffusion ("flickering pixels")</li>
                        <li>Reveals short-term image retention</li>
                        <li>Use it to minimize these artifacts by making minor voltage adjustments</li>
                        <li>@ViewBag.Dancing downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>8.1MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>8.1MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>7.9MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Small 100% white windows alternately toggle on and off at 4-second intervals / 1 tick per second audio / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Quad_White_Window_Icon.jpg" />
                                <meta itemprop="name" content="Dancing White Window" />
                                <meta itemprop="about" content="The dancing white window video test pattern is for troubleshooting plasma display panels">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="6.1" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "DancingWhiteWindowMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Small 100% white windows alternately toggle on and off at 4-second intervals / 1 tick per second audio / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Quad_White_Window_Icon.jpg" />
                                <meta itemprop="name" content="Dancing White Window" />
                                <meta itemprop="about" content="The dancing white window video test pattern is for troubleshooting plasma display panels">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize " content="10.5" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "DancingWhiteWindowMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="Small 100% white windows alternately toggle on and off at 4-second intervals / 1 tick per second audio / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/Quad_White_Window_Icon.jpg" />
                                <meta itemprop="name" content="Dancing White Window" />
                                <meta itemprop="about" content="The dancing white window video test pattern is for troubleshooting plasma display panels">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize " content="8.0" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "DancingWhiteWindowWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <aside>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive myTvTestPatterns Ad -->
                    <ins class="adsbygoogle"
                         style="display:block; padding:10px 10px;"
                         data-ad-client="ca-pub-3867254156669214"
                         data-ad-slot="3650089062"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </aside>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Philips Circle thumbnail" class="titlePicture" src="~/Images/Icons/PM5644icon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Philips Circle Test Card</h2>
                        <div class="prodDescr">
                            Resolution: 1920 x 1080 &#64; 30 fps<br />
                            PM5644 Video Test Pattern<br />
                            With 1000Hz Tone / Runs 5 minutes<br /><br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>The European PM5644 test pattern, also know as the "Philips" or "Dutch" Circle, is based on the PM5544 (its 4x3 predecessor, the most widely used TV test pattern in Europe)</li>
                        <li>Tailored for the PAL colour system</li>
                        <li>
                            Features overscan markings for 16x9 format; see specifications at
                            <a href="http://en.wikipedia.org/wiki/Philips_PM5544#/media/File:Philips_Pattern_PM5644_description.png" target="_blank">www.wikipedia.org</a>
                        </li>
                        <li>@ViewBag.Philips downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>18.6MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>17.8MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>10.2MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="PM5644 Video Test Pattern with 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/PM5644icon.jpg" />
                                <meta itemprop="name" content="Philips Circle" />
                                <meta itemprop="alternateName" content="Dutch Circle" />
                                <meta itemprop="about" content="The European PM5644 test pattern is based on the PM5544 (its 4x3 predecessor, the most widely used TV test pattern in Europe). Both are tailored for the PAL colour television system">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="13.3" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "PhilipsCircleMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="PM5644 Video Test Pattern with 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/PM5644icon.jpg" />
                                <meta itemprop="name" content="Philips Circle" />
                                <meta itemprop="alternateName" content="Dutch Circle" />
                                <meta itemprop="about" content="The European PM5644 test pattern is based on the PM5544 (its 4x3 predecessor, the most widely used TV test pattern in Europe). Both are tailored for the PAL colour television system">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="17.0" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "PhilipsCircleMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="PM5644 Video Test Pattern with 1000Hz Tone / Runs 5 minutes" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/PM5644icon.jpg" />
                                <meta itemprop="name" content="Philips Circle" />
                                <meta itemprop="alternateName" content="Dutch Circle" />
                                <meta itemprop="about" content="The European PM5644 test pattern is based on the PM5544 (its 4x3 predecessor, the most widely used TV test pattern in Europe). Both are tailored for the PAL colour television system">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="10.4" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "PhilipsCircleWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <aside>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Responsive myTvTestPatterns Ad -->
                    <ins class="adsbygoogle"
                         style="display:block; padding:10px 10px;"
                         data-ad-client="ca-pub-3867254156669214"
                         data-ad-slot="3650089062"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </aside>
            </div>
            <div class="productContainer">
                <div class="headerArea">
                    <img alt="Flat Field video" class="titlePicture" src="~/Images/Icons/redfieldicon.jpg" />
                    <div class="titleText">
                        <h2 class="prodTitle" style="font-size: 24px;">Flat Field TV Test Signal</h2>
                        <div class="prodDescr">
                            1280x720 &#64;30 (.mov: 1080x1440 &#64;24)<br />
                            30-seconds-each of these full-field colors:<br />White, black, yellow, cyan, magenta,<br />green, red, blue, black, and white<br />
                            Silent / Runs 5 minutes<br />
                        </div>
                    </div>
                </div>
                <div class="contentArea">
                    <ul>
                        <li>Basic full-field color test video</li>
                        <li>Exposes dead pixels and locked pixels</li>
                        <li>The while field (full-load condition) can be used to listen for acoustic noise coming from the display panel or from printed circuit boards</li>
                        <li>@ViewBag.Flat downloads so far</li>
                        <li>
                            File sizes:
                            <table>
                                <tr>
                                    <td>.mov</td>
                                    <td>1.0MB</td>
                                </tr>
                                <tr>
                                    <td>.mp4</td>
                                    <td>8.0MB</td>
                                </tr>
                                <tr>
                                    <td>.wmv</td>
                                    <td>5.0MB</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <nav>
                        <div class="prodButtonRow">
                            <h3>Get free download:</h3>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mov" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="30-seconds-each of these full-field colors: White, black, yellow, cyan, magenta, green, red, blue, black, and white" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/redfieldicon.jpg" />
                                <meta itemprop="name" content="Flat Field TV Test Signal" />
                                <meta itemprop="about" content="Basic full-field color test video / Exposes dead pixels and locked pixels" />
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="1.0" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "FlatFieldsMOV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />MOV</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="mp4" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="30-seconds-each of these full-field colors: White, black, yellow, cyan, magenta, green, red, blue, black, and white" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/redfieldicon.jpg" />
                                <meta itemprop="name" content="Flat Field TV Test Signal" />
                                <meta itemprop="about" content="Basic full-field color test video / Exposes dead pixels and locked pixels" />
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="8.2" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "FlatFieldsMP4" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton MP4Button">Download<br />MP4</div>
                                </a>
                            </div>
                            <div itemscope itemtype="http://schema.org/VideoObject">
                                <meta itemprop="encodingFormat" content="wmv" />
                                <meta itemprop="uploadDate" content="2015-01-05" />
                                <meta itemprop="description" content="30-seconds-each of these full-field colors: White, black, yellow, cyan, magenta, green, red, blue, black, and white" /><br />
                                <meta itemprop="thumbnailUrl" content="~/Images/Icons/redfieldicon.jpg" />
                                <meta itemprop="name" content="Flat Field TV Test Signal" />
                                <meta itemprop="about" content="Basic full-field color test video / Exposes dead pixels and locked pixels">
                                <meta itemprop="genre" content="Science & Technology" />
                                <meta itemprop="duration" content="PT5M0S" />
                                <meta itemprop="contentSize" content="5.2" />
                                <a itemprop="contentUrl" href="@Url.Action("GetFile", null, new { @p = "FlatFieldsWMV" })" style="display:inline;" onclick="Wait()">
                                    <div class="prodButton WmvButton">Download<br />WMV</div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="productContainer" style="width: 500px; max-width: 500px;">
                @* *************Start 4th Ad Slot **************@
                <div style="text-align:center">
                    The following unsolicited advertisements<br />
                    are recommended by the author<br /><br />
                </div>
                <div id="DennisAd">
                    <a href="http://www.wa6ati.com/" target="_blank" alt="Learn more about do-it-yourself TV repair / Visit Dave's TV and Electronic Repair for professional help">
                        <img width="300" src="~/Images/Text/DennisAd.png" /><br />
                    </a>
                </div><br />
                <div id="DavesLink">
                    <a href="http://www.tvrepairinfo.com/" target="_blank" alt="wa6ati Technical Assistance Web Page / Dedicated to the Consumer Electronic Service Technician">
                        <img width="300" src="~/Images/Text/DavesRepair.png" /><br />
                    </a>
                </div>
                @* *************End 4th Ad Slot  **************@
            </div>
        </div>
        <br />
        <p style="text-align: center;">
            &copy; @DateTime.Today.Year myTvTestPatterns.com<br />
            <img src="~/Images/Graphics/UnitedStates.bmp" alt="US flag" />&nbsp; Made in the USA
        </p>
        <br />
    </div>
    <script type="text/javascript">
        function Wait() {
            var x = $("#imgWait").show().delay(6000).fadeOut(3000);
        }
    </script>
</body>
</html>
